#Default {
    @include page;
    font-family: $sansSerif;
}


.Default__header {
    width: 300px;
    margin: 0 auto;

    h2 {
        font-size: 3em;
        text-align: left;
        margin: 0;
    }

    @media #{$tablet_breakpoint} {
        width: 400px;

        h2 {
            font-size: 4.2em;
        }
    }

    @media #{$desktop_breakpoint} {
        width: 500px;

        h2 {
            font-size: 5.2em;
        }
    }
}


.Default__tagline {
    text-align: center;
    font-size: 1.2em;
    color: $primaryColor_dark;
}


.Default__links {
    .Default__link {
        display: inline-block;
        
        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }
}


.Default__content {
    article {
        padding: 20px;
        text-align: center;

        p {
            font-size: 1.2em;
        }
        
        ul {
            margin: 0 auto;
            list-style-type: none;
            font-size: $mFont;
            padding-left: 0;
        }
    }

    @media #{$tablet_breakpoint} {
        article {
            width: 80%;
            margin: 0 auto;

            p {
                font-size: $mFont;
            }
        }
    }

    @media #{$desktop_breakpoint} {
        article {
            max-width: 1000px;
            margin: 0 auto;    
        }
    }
}


.Default__link {
    padding: 8px;
    text-decoration: none;
    background: $primaryColor;
    border-bottom: 4px solid $primaryColor_dark;
    border-radius: 2px 2px 6px 6px;
    color: $white;
    font-weight: bold;
    font-size: $mFont;
    margin: 0 4px;

    &:active {
        border-bottom: none;
        border-radius: 2px;
        position: relative;
        top: 4px;
    }
}


.Default__donate {
    opacity: 0.8;
    
    p {
        font-size: $sFont !important;
    }
}