#HomeButton {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    z-index: 8;

    @media #{$tablet_breakpoint} {
        top: 1em;
        left: 1em;
    }
}


.HomeButton__logo {
    img {
        width: 40px;
        height: auto;
        margin: 3px 4.5px;
        animation: spin;
        -webkit-animation: spin;
        animation-iteration-count: infinite;
        animation-duration: 5s;
        animation-timing-function: linear;
    }

    @media #{$tablet_breakpoint} {
        img {
            width: 50px;
            height: auto;
            margin: 3px 4.5px;    
        }
    
        &:hover {
            img {
                animation-duration: 2s;
            }
        }
    }
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}